/*============================= 2, Load Css ============================*/
.preloader {
    background-color: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;
    .lds-ellipsis {
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 64px;
        text-align: center;
        z-index: 9999999;
        span {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #FF324D;
            animation: ball-pulse-sync .6s 0s infinite ease-in-out;
            &:nth-child(1) {
                animation: ball-pulse-sync .6s -.14s infinite ease-in-out;
            }
            &:nth-child(2) {
                animation: ball-pulse-sync .6s -70ms infinite ease-in-out;
            }
        }
    }
}